:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderat-cyan: hsl(170, 45%, 43%);
  --light-grayish-lue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

  --font1: 'Open Sans', sans-serif;
  --font2: 'Raleway', sans-serif;
  --padding-container: 90px 0;
}
*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font1);
}

.container{
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding-right: var(--padding-container);
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.1em;
  
  --padding-container:40px 0 ;
}

.nav__logo {
  width: 110px;
  padding-top: 20px;
}

.nav__img {
  width: 100%;
  display: block;
}

.nav__link:first-of-type {
  margin-left: auto;
}

.nav__link {
  text-decoration: none;
  color: var(--desaturated-blue);

}

.hero {
  /* position: relative; */
}

.hero__img {
  width: 100%;
  display: block;
  max-width:400px;
  margin: 0 auto;
}

.hero__info {
  text-align: center;
  color: var(--very-dark-blue);
}

.hero__title {
  font-size: 1.7rem;
  font-family: var(--font2);
  margin: 1.8em;
}

.hero__paragraph{
  line-height: 1.5;
  margin: 1.5em 0;
}
